{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'wmsg/style.css' %}" />
  <title>Wild Magic Surge Generator</title>
</head>
<style>
</style>
<body>

<button onclick="location.href=''">Wild Magik Effect</button>
<h1>{{ effect.id }}</h1>
<h2>{{ effect.effect }}</h2>
<h4>{{ effect.info }}</h4>

  <!--
{% for effect in effects %}
  <h1>{{ effect.effect }}</h1>
  <h4>{{ effect.info }}</h4>
{% endfor %} -->
</body>
</html>
