button {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 60px;
  outline: none;
  box-shadow: 0 25px darkred;
  border: transparent;
  position: center;
}

button:active {
  box-shadow: none;
  top: 25px;
}
